.main-section{
    margin: 20px 10%;

}

.form-body{
    margin-right: 3rem;
}

.form-header {
    display: flow-root;
    border-bottom: 1px solid #d2d5d9;
    margin-bottom: 2em;
}

.kt-heading {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.form-floating>label{
    font-size: 1em; 
    color: #6e707e;
}

.item-amount{
    color: #6e707e;
}

.item-amount-col{
    padding-top: 12px;
}

.btn-circle {
    width: 35px;
    height: 35px;
    padding: 5px 0px;
    border-radius: 20px;
    text-align: center;
    /* font-size: 12px; */
    line-height: 1.42857;
}
